* {margin: 0;padding: 0;}
body {font: 1.5em Verdana, Sans-Serif;background: #eee;width: 100%;overflow:hidden;}
.pass {
	font-size: 35px;
	text-align: center;
	width: 15%;
	height: 40px;
	line-height: 100%;
	float: left;
	margin-left: 1%;
	border:1px solid #ccc;
	padding:0;
}
.pass_right{
	border-right:1px solid;
}
.btn_number{
	width:33%;
}

.btn_next {
	margin-top: 30px;
	width: 100%;
	height: 40px;
	background: #0099FF;
}

.btn_next:hover {
	background: coral;
}

#password {
	font: 2em Verdana, Sans-Serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}

#keyboard li {
	float: left;
	margin:-1px 2px 2px -1px;
	width: 33%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#keyboard .tab {
	width: 33%;
}

#keyboard .cancle {
	width: 33%;
}

#keyboard .delete {
	width: 33%;
}

.on {
	display: none;
}

#keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	background: #A8A8A8;
	cursor: pointer;
}